@import "../../stylesheets/variables.json";
@import "../../stylesheets/mixins";

.select-with-label {
  margin: 15px 0 15px;
  label, select {
    display: inline-block;
    height: $sidebarClosedOffset - 10px ;
    vertical-align: middle;
  }
  select {
    @include base-focus;
    background-color: white;
    color: $blackBackground;
    width: 60%;
    float: right;
    border-radius: $defaultBorderRadius;
    span {
      color: white;
    }
  }
  label::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}
