{
  "presets": [
    ["@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 
        { 
          "version": "3.12.1", 
          "proposals": "true"
        }
      }
    ],
    ["@babel/preset-react",
      {
      "runtime": "automatic",
      }],
  ],
  "sourceMaps" : "inline",
  "plugins": [
    "react-hot-loader/babel",
      ["module-resolver", {
        "root": ["./src"]
      }],
    ]
}
