{
  "extends": "eslint-config-airbnb",
  "rules": {
    "import/prefer-default-export": 0,
    },
  "env": {
    "mocha": true,
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
