{
  "extends": "eslint-config-airbnb",
  "rules": {
    "import/prefer-default-export": 0,
    },
  "env": {
    "jest": true,
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {
        "extensions": [".js", ".jsx"]
      }
    }
  }
}
