@import "../../stylesheets/variables.json";

.metronome-wrapper {
  margin-top: 20px;
}

.metronome-slider {
  display: inline-block;
  width: 200px;
  height: $metronomeHeight;
  margin-right: 5px;
  margin-top:0px;
}

.metronome-controls {
  float: right;
  text-align: center;
  width: 90px;
  height: $metronomeHeight;
  line-height: $metronomeHeight;
  margin-top:0px;

  button {
    width: 40px;
  }

}
