.modal {
	position: absolute;
	left: 50%;
	top: 0px;
}

.modal_content {
	position: relative;
	left: -50%;
	top: 150px;
}

.modal_close_button {
	position: absolute;
	right: 40px;
	top: 28px;
	color:gray;
	font-size: 15px;
}

.modal_close_button a {
	color: black;
}

#loginModal {
	display: none;
}

#loginForm {
	height: 400px;
	width: 500px;
}

#logging-info{
	text-align: right;
	color: white;
	margin-top: 5px;
}

#logging-info a{
	color: white;
}
