/* Adapted from: http://bl.ocks.org/jm3/9870108 */

#waveform > waveform_svg,
#waveform > div {
  height:       100px;
  width:        200px;
  margin-bottom: 20px;
  /*background-color: #000;
  opacity: 0.70;*/
  position:     relative;
}

#waveform .waveform_svg g rect {
  fill: white;
  stroke-width: 0.1;
  stroke: white;
}