@import "./InputText";
@import "../../stylesheets/variables.json";

.select-with-label {
  margin: 15px 0 30px;
  label, select {
    display: inline-block;
    height: $sidebarClosedOffset;
    vertical-align: middle;
  }
  select {
    @extend .base-focus;
    background-color: white;
    color: $blackBackground;
    width: 40%;
    float: right;
    border-radius: $defaultBorderRadius;
    span {
      color: white;
    }
  }
  label::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}
