@import "../../stylesheets/variables.json";
@import "../../stylesheets/reset-button";

html, body, #app, #app > div {
	height: 100%;
}

body {
	background: $blackBackground;
	overflow: hidden;
	font-family: Lato, Helvetica, Segoe UI, Arial, sans-serif;
	font-size: 14px;
	color: white;
}

i {
	color: white;
}

.MapContainer, svg.map {
  height: 100%;
}

svg.map {
  width: 100%;
}
