@import "./variables.json";

html, body, #app, .app-container {
	height: 100%;
}

body {
	background: $blackBackground;
	overflow: hidden;
	font-family: Lato, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: white;
}

i {
	color: white;
}
