@import "./variables.json";

* {
	margin:0;
	padding:0;
	font-family: Helvetica;
	font-size: 14px;
	font-weight: 300;
	color: white;
}

html, body, #app {
	height: 100%;
}

body {
	background: $blackBackground;
	overflow: hidden;
}

.app-container {
	height: 100%;
}
