@import "./variables.json";

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  &:focus {
    outline: none;
  }
  &.active {
    background-color: $accentColor;
  }
}

.button-group {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 5px;
  overflow: hidden;
  button {
    border-radius: $defaultBorderRadius;
    min-width: 30px;
  }
}
