@import "./variables.json";

$box-border-size: 3px;

.check-box {
  label {
    display: inline-block;
    vertical-align: middle;
    height: $sidebarClosedOffset;
    cursor: pointer;
    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }
  input[type=checkbox] {
    // don't use display:none in order for keyboard events to work
    opacity: 0;
    &:focus {
      + .box {
        border: $box-border-size solid $accentColor;
      }
    }
  }
  .box {
    display: inline-block;
    vertical-align: middle;
    float: right;
    width: 3 / 2 * $sidebarClosedOffset;
    height: $sidebarClosedOffset - 2 * $box-border-size;
    position: relative;
    border-radius: $defaultBorderRadius;
    border: $box-border-size solid transparent;
    background-color: transparentize(white, 0.8);
    cursor: pointer;
    &:before {
      content: 'off';
      position: absolute;
      top: -$box-border-size;
      text-transform: uppercase;
      box-sizing: border-box;
      line-height: $sidebarClosedOffset;
      text-align: center;
      width: $sidebarClosedOffset + $box-border-size;
      height: $sidebarClosedOffset;
      transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out;
      transform: translate3d(-$box-border-size, 0, 0);
      background: $sidebarIconHoverColor;
      border-radius: $defaultBorderRadius;
      color: $blackBackground;
    }
    &.active {
      &:before {
        transform: translate3d(0.5 * $sidebarClosedOffset, 0, 0);
        background: $accentColor;
        content: 'on';
        color: white;
      }
    }
  }
}
