svg.fse-logo {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 1.41421;
  margin-top: 20px;
  margin-left: 20px;
  width: 300px;
  height: 60px;
  pointer-events: none;
  position: absolute;
}
