@import "./variables.json";

.map-container, svg.map {
  height: 100%;
}

svg.map {
  width: 100%;
  circle {
    mix-blend-mode: screen;
    opacity: 70%;
    &.playing {
      animation: wobble 0.5s linear infinite alternate;
    }
  }
}

@keyframes wobble {
  from {
    transform: scale(1);
    transform-origin: center;
  }
  to {
    transform: scale(1.5);
    transform-origin: center;
  }
}

.space-title {
  // out-of-screen parent div with abs positioning
  // needed to properly use z-index on actual space title (to hover on circles above it)
  pointer-events: none;
  text-shadow: 0 0 6px $blackBackground;
  position: absolute;
  &:not(.thumbnail) {
    transform: translate(-50%, -50%);
  }
  header > * {
    text-transform: capitalize;
    margin-bottom: 5px;
    font-size: 2em;
    font-weight: bold;
  }
  font-size: 1.1em;
  &.thumbnail {
    font-size: 1em;
    top: 15px;
    left: 15px;
    width: calc(100% - 15px);
    header > * {
      font-size: 1.5em;
    }
  }
  ol {
    list-style: none;
    padding: 0;
  }
  li {
    padding-left: 0;
  }
}
