@import "./variables.json";

.metronome {
  margin-bottom: 15px;
}

.metronome-slider {
  display: inline-block;
  width: 200px;
  height: 60px;
  margin-right: 5px;
  margin-top:0px;
}

.metronome-controls {
  float: right;
  text-align: center;
  width: 90px;
  height: 60px;
  line-height: 60px;
  margin-top:0px;

  button {
    width: 40px;
  }

}
