@import "./variables.json";

.metronome {
  text-align: left;

  button {
    padding: 7px;
    border-radius: 5px;
    border: 0px;
    height: $sidebarClosedOffset;
    width: 34px;
    background: none;
    color: white;
  }
  button:focus {
    outline: 0;
  }
}
