@import "./variables.json";

.metronome {
  margin-bottom: 15px;
}

.metronome-controls {
  display:inline-block;
  height: 30px;
  line-height: 30px;
}

.metronome-transport {
  margin-left: 4px;
  display: inline-block;
  min-width: 80px;
  text-align: center;
}

.metronome-slider {
  display: inline-block;
  height: 30px;
  width: $sidebarWidth - $sidebarClosedOffset -220px;
  vertical-align: bottom;
}
