@import "./variables.json";
@import "./InputText";

ol.options-list {
  list-style: none;
  padding: 0;
  margin-bottom: 50px;
  li {
    padding: $sidebarClosedOffset/2 $sidebarClosedOffset/4;
    text-transform: capitalize;
    border-radius: 0;
    cursor: pointer;
    @extend .base-focus;
    position: relative;
    &:hover {
      background-color: $accentColor;
    }
    &:before {
      background-color: $sidebarIconHoverColor;
      content: '';
      position: absolute;
      right: -$inputBorderPadding;
      bottom: -$inputBorderPadding;
      left: -$inputBorderPadding;
      height: 1px;
    }
  }
  i {
    margin-right: 10px;
  }
}
