@import "./variables.json";

.paths-list {
  user-select: none;
  ul {
    list-style-type: none;
  }
  li {
    border-radius: $defaultBorderRadius;
    display: block;
    text-align: middle;
    margin-left: -40px;
    margin-bottom: 2px;
    margin-top: 2px;

    &.selected {
      background-color: rgba(70, 70, 70, 0.4);
    }
  }
}

.path-controls {
  min-height: $sidebarClosedOffset;
  line-height: $sidebarClosedOffset;
  display: block;
}

.cursor-pointer {
  cursor: pointer;
}

.sounds-list {
  margin-bottom: 15px;
  ul {
    list-style-type: none;
  }
  li {
    display: block;
    margin-left: -15px;
    margin-bottom: 2px;
    margin-top: 2px;
    overflow: hidden;
    padding-left: 10px;
    height: $sidebarClosedOffset;
    line-height: $sidebarClosedOffset;
    background: rgba(70, 70, 70, 0.2);
  }
  li:hover { background: $sidebarIconHoverColor }
  li.playing {
    background: $sidebarIconHoverColor;
  }
}
