@import "./variables.json";

.paths-list {
  ul {
    list-style-type: none;
  }
  li {
    display: block;
    width: 100%;
    min-height: $sidebarClosedOffset;
    text-align: middle;
  }
}

.sounds-list {
  ul {
    list-style-type: none;
  }
  li {
    display: block;
    overflow: hidden;
    padding-left: 10px;
    width: 100%;
    height: $sidebarClosedOffset;
    line-height: $sidebarClosedOffset;
    background: rgba(70, 70, 70, 0.2);
  }
  li:hover { background: $hoverBackground }
}
