@import "./mixins";

.query-box {
	width: 100%;
	height: 100px;
	opacity: 0.9;
	select {
		margin-top: 8px;
		background-color: white;
		color: black;
		display: block;
		width: 100%;
		height: 30px;
		border-radius: 5px;
		border: 0px;
	}
	span {
		color: white;
	}
}

.search-button {
	padding: 7px;
	border-radius: 5px;
	border: 0px;
	height: 30px;
	width: 34px;
  background: none;
  color: white;
}

.search-button:focus {
	outline: 0;
}

.query-terms-input {
	width: calc(100% - 50px);
	padding: 7px;
	border-radius: 5px;
	border: 0px;
	height: 18px;
	color: black;
}

.max-results-slider {
	width: calc(100% - 40px);
	margin-top: 8px;
	margin-right: 12px;
}
