@import "./mixins";

.query-box {
	width: 100%;
	height: 100px;
	opacity: 0.9;
	input:not([type='text'], [type='range']), select {
		display: block;
		float: right;
	}
	select {
		margin-top: 5px;
		background-color: white;
		display: block;
		width: 100%;
		height: 30px;
		border-radius: 5px;
		border: 0px;
	}
	span {
		color: white;
	}
}

.search-button {
	padding: 7px;
	border-radius: 5px;
	border: 0px;
	height: 30px;
	width: 34px;
  	background: none;
  	color: white;
}

.query-terms-input {
	width: calc(100% - 50px);
	padding: 7px;
	border-radius: 5px;
	border: 0px;
	height: 18px;
}

.max-results-slider {
	width: calc(100% - 40px);
	margin-top: 8px;
	margin-right: 8px;
}
