@import "./variables.json";
@import "./button";

.sidebar {
  position: absolute;
  top: 0;
  left: $sidebarClosedOffset - $sidebarWidth;
  width: $sidebarWidth;
  transition: left 0.3s ease;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  p.info-paragraph {
    margin-bottom: 8px;
  }
  &.active {
    left: 0;
  }
}

.sidebar-content-wrapper {
  width: $sidebarWidth - $sidebarClosedOffset - 2 * $sidebarContentPadding;
  padding: $sidebarContentPadding;
  background-color: $sidebarColor;
  height: 100%;
}

.sidebar-vertical-scroll {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}

.sidebar-nav-button {
  width: 100%;
  height: $sidebarClosedOffset;
  text-align: center;
  line-height: $sidebarClosedOffset;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
  &:hover, &.active {
    background-color: $sidebarIconHoverColor;
    i {
      color: $blackBackground;
    }
  }
}

.sidebar-menu-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: $sidebarClosedOffset;
  background-color: $sidebarColor;
  ol {
    list-style-type: none;
  }
  li {
    @extend .sidebar-nav-button;
  }
  .toggle-visibility-button {
    position:absolute;
    left: 0;
    @extend .sidebar-nav-button;
    transition: bottom 0.3s ease-in-out;
  }
}
