@import "./variables.json";

.sidebar {
  position: absolute;
  top: 0px;
  left: $sidebarClosedOffset - $sidebarWidth;
  width: $sidebarWidth;
  height: 100%;
}

.sidebar.active {
  left: 0px;
}

.sidebar-content-wrapper {
  width: $sidebarWidth - $sidebarClosedOffset -40px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
}

.sidebar-menu-wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: $sidebarClosedOffset;
  background-color: rgba(0, 0, 0, 0.5);
}
