@import "./variables.json";
// Adapted from http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html

.slider-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  span {
    display: inline-block;
    height: 23px;
    line-height: 23px;
    vertical-align: top;
    margin-left: 8px;
  }
}

input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;
  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;
  /*required for proper track sizing in FF*/
  width: 85%;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 85%;
  height: 1px;
  background: white;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid white;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: rgba(58, 103, 94, 1.0);
  margin-top: -8px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: white;
}

input[type=range]::-moz-range-track {
  width: 85%;
  height: 1px;
  background: white;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid white;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: rgba(58, 103, 94, 1.0);
  margin-top: -8px;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]::-ms-track {
  width: 85%;
  height: 1px;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}
input[type=range]::-ms-thumb {
  border: 1px solid white;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: rgba(58, 103, 94, 1.0);
  margin-top: -8px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #888;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}
