@import "./InputText.scss";
@import "./range.scss";

.slider-range {
  input[type=range] {
    @include styledInputRange();
    background-color: transparent;
    margin: 0;
    height: $sidebarClosedOffset;
  }
}

.slider-range-wrapper {
  position: relative;
  margin: 10px 0 20px;
  span {
    position: absolute;
    transform: translate(-50%, -50%);
    top: $sidebarClosedOffset / 2;
    pointer-events: none;
    color: $blackBackground;
    transition: color 0.3s ease-in-out;
  }
}
