@import "./variables.json";
$sound-info-modal-width: 400px;
$modal-transition-duration: 0.3s;

.sound-info-modal {
  position: absolute;
  margin-top: 0;
  height: 0;
  transition: height $modal-transition-duration ease-in-out, margin-top $modal-transition-duration ease-in-out;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  border-radius: $defaultBorderRadius;
  a {
    text-decoration: none;
  }
  div {
    opacity: 0;
    pointer-events: none;
    transition: opacity $modal-transition-duration/4;
  }
  &.active, &.active-down {
    height: $soundInfoModalHeight;
    div {
      opacity: 1;
      pointer-events: all;
      // wait for modal to be totally spread before showing its content
      transition: opacity $modal-transition-duration/4 $modal-transition-duration;
    }
  }
  &.active {
    margin-top: -$soundInfoModalHeight;
  }
  width: $sound-info-modal-width;
  background-color: rgba(12,12,18,.85);
}

.sound-info-modal-title {
  padding: 10px;
  text-align: center;
  background: rgba(12,12,18,.5);
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}

.sound-info-buttons-container {
  float: right;
  i.fa {
    color: white;
  }
  i.fa-star {
    pointer-events: none;
    color: #d3d62f;
    cursor: default;
  }
  button {
    color: white;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    box-shadow: none;
    background-color: transparent;
    border: none;
    &:focus {
      outline: none;
    }
    &.learning {
      background-color: rgba(58, 103, 94, 0.7);
    }
  }
}
