@import "../../stylesheets/variables.json";

@mixin base-modal {
  transform: translate3d(0, 0, 0);
  margin: auto;
  box-sizing: border-box;
  width: 50%;
  height: 60%;
  background-color: $sidebarColor;
  box-shadow: 1px 1px 5px $sidebarColor;
  transition: all 0.3s ease-in-out;
}
