@import "../../stylesheets/variables.json";

.metronome-wrapper {
  position:absolute;
  bottom: 20px;
  right: 20px;
  height: $metronomeHeight;
}

.metronome-slider {
  float: left;
  height: $metronomeHeight;
  width: 180px;
  margin-top:-10px;
  margin-right: 5px;
}

.metronome-controls {
  float: right;
  height: $metronomeHeight;
  width: 40px;
  margin-top:2px;
  font-size: 120%;
  button {
    width: 40px;
  }
}

.metronome-position {
  float: right;
  height: $metronomeHeight;
  width: 110px;
  font-size: 1.4em;
  ul {
    margin-top: 0px;
    margin-left: -40px;

  }
  li {
    display:inline-block;
    width: 35px;
    height: $metronomeHeight;
    line-height: $metronomeHeight;
    text-align: center;
    border-right: solid 1px white;
  }
  li:last-child { border-right:0px; }
}
