#sounds-counter {
bottom: 19px;
left: 4px;
position: relative;
opacity: 0.5;
font-size: 0.8em;
padding: 0px 0px 0px 15px;
}

#batch-download-icon {
  position: absolute;
  right: 11px;
  padding-top: 11px;
}