@import "../../stylesheets/variables.json";

html, body, #app, #app > div {
	height: 100%;
}

body {
	background: $blackBackground;
	overflow: hidden;
	font-family: Lato, Helvetica, Segoe UI, Arial, sans-serif;
	font-size: 14px;
	color: white;
}

i {
	color: white;
}
